@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@heathmont/moon-themes-tw/lib/moon.css';


.borderless-input {
  outline: none;
}

/* Hide the date icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}



/* styles.css */
