@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@heathmont/moon-themes-tw/lib/moon.css';


.borderless-input {
  outline: none;
}

.intersect{
  background-image: url('@/src/assets/intersect.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Hide the date icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}



/* styles.css */
